/* Navbar */

#my-logo {
    font-family: 'Tangerine', sans-serif;
    font-size: 48px;
}

/* Jumbotron */

.jumbotron-container {
    height: 100vh;
    background: url("{% static 'images/ben.jpg' %}") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Footer */

footer {
    height: auto;
    background-color: red;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    color: #ffffff;
}