{% extends 'base.html' %}

{% block content %}

<div class="container contact-container text-white">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Contact Us</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <div class="col-6 mt-5 ">
            <i class="fas fa-map-marker-alt pl-5"></i><p class="d-inline pl-5">71-74 North St, Brighton BN1 1ZA</p><br>
            <i class="fas fa-envelope pl-5"></i><p class="d-inline pl-5">tasteofpoland@email.com</p><br>
            <i class="fas fa-phone pl-5"></i><p class="d-inline pl-5">01273 123456</p>
        </div>
        <div class="col-6 mt-5 pl-5"> 
            <p class="text-white d-inline">Opening hours:</p><br>
            <p class="d-inline"></p><p>Mon-Sun 12:00pm-11:pm</p>           
        </div>        
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}