{% extends 'base.html' %}

{% block content %}

<!-- Contact Us page -->
<div class="container contact-container text-white">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Contact Us</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-7 mt-5 ">
            <!-- Contact details (address, phone, email) -->
            <div class="contact-info">
                <i class="fas fa-map-marker-alt pl-5"></i>
                <p class="pl-5 pr-5">71-74 North St<br>Brighton BN1 1ZA</p>
                <i class="fas fa-envelope pl-5"></i>
                <p class="pl-5 pr-5">tasteofpoland@email.com</p>
                <i class="fas fa-phone pl-5"></i>
                <p class="pl-5 pr-5">01273 123456</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 mt-5">
            <!-- Opening hours -->
            <div class="contact-info">
                <p class="text-white d-inline pl-5 pr-5">Opening hours:</p>
                <p class="pl-5 pr-5">Mon-Sun 12:00pm-11:00pm</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Google map -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.4113865098757!2d-0.14593908425505142!3d50.82354347952861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875850ca3d45a21%3A0xe1938c0d5ea2f804!2sWaterstones!5e0!3m2!1sen!2suk!4v1644107026088!5m2!1sen!2suk"
                width="100%" height="300" style="border:1px solid red" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <hr class="rounded my-5">
    </div>
    <hr class="rounded my-5">
</div>

{% endblock %}