{% extends 'base.html' %}

{% block content %}

<div class="container contact-container text-white">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Contact Us</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-7 mt-5 ">
            <div class="contact-info">
                <i class="fas fa-map-marker-alt pl-5"></i>
                <p class="pl-5 pr-5">71-74 North St<br>Brighton BN1 1ZA</p>
                <i class="fas fa-envelope pl-5"></i>
                <p class="pl-5 pr-5">tasteofpoland@email.com</p>
                <i class="fas fa-phone pl-5"></i>
                <p class="pl-5 pr-5">01273 123456</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 mt-5">
            <div class="contact-info">
                <p class="text-white d-inline pl-5 pr-5">Opening hours:</p>
                <p class="pl-5 pr-5">Mon-Sun 12:00pm-11:pm</p>
            </div>
        </div>
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}