{% extends 'base.html' %}

{% block content %}

<!-- Photo Gallery -->
<div class="container gallery-container text-white text-center">
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Page heading -->
            <h1>Photo Gallery</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <!-- Photos -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816243/1_rduoea.jpg"
                class="img-thumbnail" alt="Stuffed cabbage leaf">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816243/2_ry3rye.jpg"
                class="img-thumbnail" alt="Sour rye soup in a bread loaf">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816245/3_gcvcwz.jpg"
                class="img-thumbnail" alt="Sour rye soup with egg">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816245/4_txodgn.jpg"
                class="img-thumbnail" alt="Dumplings">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816239/5_tfyz4n.jpg"
                class="img-thumbnail" alt="Hunter stew">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816236/6_fytset.jpg"
                class="img-thumbnail" alt="Cheesecake">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816251/7_hcsg96.jpg"
                class="img-thumbnail" alt="Pastry twisters">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1645816242/8_ujctgk.jpg"
                class="img-thumbnail" alt="Stuffed cabbage">
        </div>
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}