{% extends 'base.html' %}

{% block content %}

<!-- Photo Gallery -->
<div class="container gallery-container text-white text-center">
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Page heading -->
            <h1>Photo Gallery</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <!-- Photos -->
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906188/shutterstock_1119904325_prjhhl.jpg"
                class="img-thumbnail" alt="Stuffed cabbage leaf">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906187/shutterstock_1047434692_xqud4r.jpg"
                class="img-thumbnail" alt="Sour rye soup in a bread loaf">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906186/shutterstock_1379686670_usisdf.jpg"
                class="img-thumbnail" alt="Sour rye soup with egg">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906186/shutterstock_1276237195_ju4eem.jpg"
                class="img-thumbnail" alt="Dumplings">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906185/shutterstock_1359566855_xi40vm.jpg"
                class="img-thumbnail" alt="Hunter stew">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643905814/shutterstock_2053268051_ml3bbb.jpg"
                class="img-thumbnail" alt="Cheesecake">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906719/faworki_uvsb9t.jpg"
                class="img-thumbnail" alt="Pastry twisters">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906769/stuffed-cabbage_eu2byc.jpg"
                class="img-thumbnail" alt="Stuffed cabbage">
        </div>
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}