{% extends 'base.html' %}

{% block content %}

<div class="container gallery-container text-white text-center">
    <div class="row">
        <div class="col-12 mt-5">
            <h1>Photo Gallery</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-5">
            <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                class="img-thumbnail grayscale">
        </div>
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}