{% extends 'base.html' %}

{% block content %}

<div class="container-fluid jumbotron-container">
    <div class="row">
        <div class="col-12">
            <section class="jumbotron rounded border-danger text-center">
                <h1>A traditional Polish restaurant in the centre of Brighton</h1>
                <hr class="rounded my-4">
                <p>Sign in to make a booking!</p>
                <a href="{% url 'create-booking' %}"><button type="button" class="btn btn-danger">Book a
                        table</button></a>
            </section>
        </div>
    </div>
</div>

<div class="container about-container text-center mt-5">
    <div class="row">
        <div class="col-12">
            <section class="about-us">
                <h1>A Taste of Poland</h1>
                <p>Located in the bustling heart of Brighton, Taste of Poland is a family run Polish restaurant popular
                    with both locals and visitors to the city. We pride ourselves with serving authentic, traditional
                    dishes for affordable prices. Whether you're fan of Polish cuisine or just curious to try, we have
                    something for everyone!</p>
                <hr class="rounded my-5">
            </section>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-danger">
                <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643759500/menu_xyivms.jpg"
                    class="card-img-top" alt="Photo of a restaurant menu">
                <div class="card-body">
                    <h5 class="card-title">Menu</h5>
                    <p class="card-text">To view our menu, please click on the below button.</p>
                    <a href="{% url 'menu' %}" class="btn btn-danger">View Menu</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-danger">
                <img src="https://res.cloudinary.com/do5s2hv94/image/upload/v1643906769/stuffed-cabbage_eu2byc.jpg"
                    class="card-img-top" alt="Polish stuffed cabbage">
                <div class="card-body">
                    <h5 class="card-title">Gallery</h5>
                    <p class="card-text">To view our gallery, please click on the below button.</p>
                    <a href="{% url 'gallery' %}" class="btn btn-danger">View Gallery</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="rounded my-5">
</div>


{% endblock %}