{% extends 'base.html' %}

{% block content %}

<div class="container-fluid jumbotron-container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <section class="jumbotron text-center">
                <h1>A traditional Polish restaurant in the centre of Brighton</h1>
                <p>Sign in to make a booking!</p>
                <a href="{% url 'create-booking' %}"><button type="button" class="btn btn-light">Book a
                        table</button></a>
            </section>
        </div>
    </div>
</div>

{% endblock %}