{% extends 'base.html' %}

{% block content %}

<!-- Page displaying the food menu -->
<div class="container menu-container">
    <div class="center-title">
        <!-- Page heading -->
        <h1 class="text-white text-center">Our Menu</h1>
        <p class="text-center" style="font-size: 20px">All of our dishes are cooked to order from fresh ingredients.</p>
    </div>
    <hr class="rounded mt-5">
    <div class="food-menu-card">
        <div>
            <!-- Navigation tabs -->
            <ul class="nav tabs-menu-nav justify-content-center mb30" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active show" href="#soups"
                        aria-controls="soups" role="tab" data-toggle="tab" aria-selected="true">Soups</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#mains" aria-controls="mains"
                        role="tab" data-toggle="tab" aria-selected="false">Mains</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#desserts" aria-controls="desserts"
                        role="tab" data-toggle="tab" aria-selected="false">Desserts</a></li>
            </ul>
            <!-- Tab panes / contents -->
            <div class="tab-content">
                <!-- Soups -->
                <div role="tabpanel" class="tab-pane fade active show" id="soups">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Chłodnik
                                            litewski</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Cold yoghurt-and-beetroot soup served with a hard boiled egg.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Barszcz
                                            biały</h2>

                                        <div class="align-self-center">
                                            <strong class="text-white font700">£7.00</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sour thick wheat starch soup with marjoram, potatoes, and cream.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Barszcz
                                            czerwony</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Refreshing beetroot soup with dumplings.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Żurek
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£7.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sour rye soup with potato, sausage and egg, served in a
                                        bread loaf.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Krupnik
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.00</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Barley soup with a smattering of vegetables and smoked meat.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Kapuśniak</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.90</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sour cabbage soup with meat.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Zupa
                                            ogórkowa</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sour cucumber soup.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Zupa
                                            koperkowa</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£7.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Dill soup.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Rosół z
                                            kurczaka</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Golden chicken soup with noodles.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Grochówka</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.45</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Thick pea soup.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Flaki
                                            wołowe</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£7.90</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Beef tripe soup.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- Mains -->
                <div role="tabpanel" class="tab-pane fade" id="mains">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Eskalopki z cielęciny</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£10.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Veal in a blanket.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Karkówka
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£12.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Roasted tenderloin.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Polędwiczki wołowe</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£11.90</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Beef sirloin with rare mushroom sauce..</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Kotlet
                                            schabowy</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£10.80</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Traditional breaded pork cutlet.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Zrazy
                                            zawijane</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£10.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Beef rolls stuffed with bacon, gherkin and onion, in a
                                        spicy sauce.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Żeberka
                                            w miodzie</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£12.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Pork ribs in honey.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Kurczak
                                            de volaille</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£10.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Chicken steaks spread with butter, filled with mushrooms and bread
                                        crumbed, originally French.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Klopsiki
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£9.90</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Meatballs with tomato sauce.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Bigos
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£13.00</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Seasoned 'hunter' stew made from sauerkraut with chunks
                                        of various meats and sausages, extremely traditional.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Fasolka
                                            po bretońsku</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£10.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Bean and sausage stew.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- Desserts -->
                <div role="tabpanel" class="tab-pane fade" id="desserts">
                    <div class="row">
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Faworki
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£6.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Pastry twisters.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Galaretka</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£4.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sweet jelly (strawberry, blackcurrant or apple).</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Makowiec
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£4.90</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Sweet poppy cake.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Pączki
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£2.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Traditional Polish doughnuts.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Kremówka
                                            Papieska</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Puff pastry cake with vanilla cream filling, topped with powdered
                                        sugar.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 mb20">
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Sernik
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£3.20</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Delicious fat cheese cake.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">
                                            Szarlotka</h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.50</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Traditional Polish apple pie, served with whipped cream and/or ice
                                        cream.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Kołaczki
                                        </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.10</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Polish cream cheese cookies.</p>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body align-self-center g-pl-10">
                                    <div class="d-flex justify-content-between mb10">
                                        <h2 class="align-self-center text-capitalize mb0 h6 text-white font400">Ciasto
                                            ze śliwkami </h2>
                                        <div class="align-self-center">
                                            <strong class="text-white font700">£5.70</strong>
                                        </div>
                                    </div>
                                    <p class="mb-0">Plum cake with nuts and cinnamon.</p>
                                </div>
                            </article>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="rounded mt-2 mb-5">
</div>


{% endblock %}