{% extends 'base.html' %}

{% block content %}

<!-- Existing bookings page -->
<div class="container profile-container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center text-white">My reservations</h1>
            <p class="text-center" style="font-size: 20px">Welcome to your booking management headquarters where you can
                find all the bookings you made so far. <br>To book a table, please click <a
                    href="{% url 'create-booking' %}">here</a>.
            </p>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <!-- List of bookings -->
        <div class="col-12 mt-5">
            {% for reservation in reservations %}
            <div>
                {% if request.user == reservation.booker %}
                <p style="font-size: 20px">{{ reservation.id }}. {{ reservation.date }}
                    at {{ reservation.time }} - {{ reservation.first_name }}
                    {{ reservation.last_name }} - party of {{ reservation.party_size }}.
                </p>
                <!-- Edit a booking -->
                <a href="{% url 'update-booking' reservation.id %}" class="btn btn-primary">Edit</a>
                <!-- Delete a booking -->
                <a href="{% url 'delete-booking' reservation.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <hr class="rounded my-5">
</div>

{% endblock %}