{% extends 'base.html' %}

{% block content %}

<div class="container profile-container text-white">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Current bookings</h1>
        </div>
    </div>
    <hr class="rounded mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            {% for reservation in reservations %}
            <div>

                {% if request.user == reservation.booker %}
                <p style="font-size: 20px">Booking for
                        {{ reservation.first_name }} {{ reservation.last_name }} for
                        {{ reservation.date }} at {{ reservation.time }} for {{ reservation.party_size }}
                </p>
                <a href="{% url 'update-booking' reservation.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete-booking' reservation.id %}" class="btn btn-danger">Delete</a>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
    <hr class="rounded my-5">
</div>

{% endblock %}